<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>584627694074-tophcl0qksbv20rluljk1q4vlc7flse2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.584627694074-tophcl0qksbv20rluljk1q4vlc7flse2</string>
	<key>API_KEY</key>
	<string>AIzaSyA0y3fSdjBNb4sL7Z0f_wwgZp6QNbcb-Jw</string>
	<key>GCM_SENDER_ID</key>
	<string>584627694074</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chatapp.v1.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chatapp2-a217f</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp2-a217f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:584627694074:ios:6618e94113be85c2115c43</string>
</dict>
</plist>